<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script th:src="@{/miniui/boot.js}" type="text/javascript"></script>
</head>
<body>

<div id="datagrid1" class="mini-datagrid" style="width:1000px;height:280px;" allowResize="true"
     url="/role/findRoles" idField="id" multiSelect="true">
    <div property="columns">
        <div field="name" width="120" headerAlign="center" allowSort="true">角色名</div>
        <div field="nodes" width="150" headerAlign="center" allowSort="true" renderer="onNodesRenderer">拥有菜单节点</div>
        <div field="resources" width="150" headerAlign="center" allowSort="true" renderer="onResourcesRenderer">拥有资源列表
        </div>
        <div name="action" width="250" headerAlign="center" align="center" renderer="onActionRenderer"
             cellStyle="padding:0;">操作
        </div>
    </div>
</div>

<script type="text/javascript">
    mini.parse();

    var grid = mini.get("datagrid1");
    grid.load();

    function onActionRenderer(e) {
        var record = e.record;
        var uid = record.id;
        //获取当前角色拥有菜单节点
        var nodes = record.nodes;
        var nodeIds = [];
        for (var i = 0; i < nodes.length; i++) {
            var node = nodes[i];
            nodeIds.push(node.id)
        }
        var s = nodeIds.join();
        //获取当前角色拥有资源
        var resources = record.resources;
        var resIds = [];
        for (var i = 0; i < resources.length; i++) {
            var resource = resources[i];
            resIds.push(resource.id);
        }
        var m = resIds.join();

        var r = '<a href="javascript:grantNodes(\'' + uid + '\',\'' + s + '\')">选择菜单节点</a>'
            + '<span class="separator"></span>'
            + '<a href="javascript:grantReses(\'' + uid + '\',\'' + m + '\')">选择资源</a>';
        return r;
    }


    function onNodesRenderer(e) {
        var record = e.record;
        var nodes = record.nodes;
        var nodeNames = [];
        for (var i = 0; i < nodes.length; i++) {
            var node = nodes[i];
            nodeNames.push(node.text)
        }
        var s = nodeNames.join();
        return s;
    }

    function onResourcesRenderer(e) {
        var record = e.record;
        // console.log(record.resources);
        var resources = record.resources;
        var resNames = [];
        for (var i = 0; i < resources.length; i++) {
            var resource = resources[i];
            resNames.push(resource.name);
        }
        var s = resNames.join();
        return s;
    }

    function grantReses(roleId, resIds) {
        mini.open({
            url: "/permission/toRoleRes",
            title: "分配资源",
            width: 1300,
            height: 450,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.SetData(resIds);
            },
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    console.log(data);
                    var d = {};
                    d.roleId = roleId;
                    d.resIds = data;
                    $.ajax({
                        url: "/permission/grantReses",
                        data: d,
                        success: function (data) {
                            if (data.succ) {
                                grid.reload();
                            }
                        }
                    });
                }
            }
        });
    }

    function grantNodes(roleId, nodeIds) {
        mini.open({
            url: "/permission/multiSelectTree",
            title: "分配节点",
            width: 350,
            height: 350,
            onload: function () {
                var iframe = this.getIFrameEl();
                iframe.contentWindow.SetData(nodeIds);
            },
            ondestroy: function (action) {
                if (action == "ok") {
                    var iframe = this.getIFrameEl();
                    var data = iframe.contentWindow.GetData();
                    data = mini.clone(data);
                    var d = {};
                    d.roleId = roleId;
                    d.nodeIds = data.id;
                    $.ajax({
                        url: "/permission/grantNodes",
                        data: d,
                        success: function (data) {
                            if (data.succ) {
                                grid.reload();
                            }
                        }
                    });
                }
            }
        });
    }
</script>
</body>
</html>